# IDEs
.idea/

# Jekyll and Bundler
al-folio-site/_site/
al-folio-site/.jekyll-cache/
al-folio-site/.jekyll-metadata
al-folio-site/.local-cache/
al-folio-site/vendor/bundle/
al-folio-site/assets/files/kurs/
.bundle/
vendor/bundle/
node_modules/
__pycache__/
*.py[cod]

# Local R and LaTeX outputs
.Rproj.user
.Rhistory
Rplots.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# Operating system files
.DS_Store
